$slight-blue: #2791cf;
$slight-grey: #7e878c;
$dark-grey: #3f3f3f;
$white: #ffffff;

$font-text: 'Poppins', sans-serif;
$font-heading: 'Baloo 2', cursive;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-text;
  
}


